# --- Framework Web (Core) ---
Flask==3.1.2
Werkzeug==3.1.5

# --- Base de Datos ---
mysql-connector-python==9.5.0

# --- Inteligencia Artificial (Gemini) ---
google-genai>=0.3.0

# --- Seguridad y Variables de Entorno ---
python-dotenv>=1.0.0